<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>calculate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>54FFA72D1D20DE2E00216594</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54FFA7411D20DE2E00216594</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54FFA74C1D20DE2E00216594</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
